<!DOCTYPE HTML>
<html>
    <head>
        <title>Income</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div>Income</div>
        <div>Color {{color}}</div>
        <div>Cotton part {{cotton}}%</div>
        <div>Operation {{quantity}}</div>
    </body>
</html>