<!DOCTYPE HTML>
<html>
<head>
    <title>Outcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Outcome</div>
    <div>{{text}}</div>
</body>
</html>