<!DOCTYPE HTML>
<html>
<head>
    <title>Stock</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Stock</div>
    <br>
    <div>Color {{color}}</div>
    <div>Operation {{operation}}</div>
    <div>Cotton part {{cotton}}%</div>
    <div>Type of long {{type}}%</div>
</body>
</html>